UPDATE tutor_applications
SET onboarding_completed_at = NULL
WHERE id IN (
  SELECT ta.id
  FROM tutor_applications ta
  JOIN users u ON u.id = ta.user_id
  WHERE lower(u.email) = lower('spring@gmail.com')
  LIMIT 1
);
