BEGIN;

DELETE FROM tutor_onboarding_acceptance_events
WHERE application_id IN (
  SELECT ta.id
  FROM tutor_applications ta
  JOIN users u ON u.id = ta.user_id
  WHERE lower(u.email) = lower('spring@gmail.com')
  LIMIT 1
);

DELETE FROM tutor_onboarding_acceptances
WHERE application_id IN (
  SELECT ta.id
  FROM tutor_applications ta
  JOIN users u ON u.id = ta.user_id
  WHERE lower(u.email) = lower('spring@gmail.com')
  LIMIT 1
);

UPDATE tutor_applications
SET
  document_submission_step = 0,
  documents_status = '{\
1\:\not_started\,\2\:\not_started\,\3\:\not_started\,\4\:\not_started\,\5\:\not_started\,\6\:\not_started\}'::jsonb,

  doc_1_submission_url = NULL,
  doc_1_submission_uploaded_at = NULL,
  doc_1_submission_verified = false,
  doc_1_submission_verified_by = NULL,
  doc_1_submission_verified_at = NULL,
  doc_1_submission_rejection_reason = NULL,
  doc_1_completed_template_url = NULL,
  doc_1_completed_template_uploaded_at = NULL,
  doc_1_completed_template_uploaded_by = NULL,

  doc_2_submission_url = NULL,
  doc_2_submission_uploaded_at = NULL,
  doc_2_submission_verified = false,
  doc_2_submission_verified_by = NULL,
  doc_2_submission_verified_at = NULL,
  doc_2_submission_rejection_reason = NULL,
  doc_2_completed_template_url = NULL,
  doc_2_completed_template_uploaded_at = NULL,
  doc_2_completed_template_uploaded_by = NULL,

  doc_3_submission_url = NULL,
  doc_3_submission_uploaded_at = NULL,
  doc_3_submission_verified = false,
  doc_3_submission_verified_by = NULL,
  doc_3_submission_verified_at = NULL,
  doc_3_submission_rejection_reason = NULL,
  doc_3_completed_template_url = NULL,
  doc_3_completed_template_uploaded_at = NULL,
  doc_3_completed_template_uploaded_by = NULL,

  doc_4_submission_url = NULL,
  doc_4_submission_uploaded_at = NULL,
  doc_4_submission_verified = false,
  doc_4_submission_verified_by = NULL,
  doc_4_submission_verified_at = NULL,
  doc_4_submission_rejection_reason = NULL,
  doc_4_completed_template_url = NULL,
  doc_4_completed_template_uploaded_at = NULL,
  doc_4_completed_template_uploaded_by = NULL,

  doc_5_submission_url = NULL,
  doc_5_submission_uploaded_at = NULL,
  doc_5_submission_verified = false,
  doc_5_submission_verified_by = NULL,
  doc_5_submission_verified_at = NULL,
  doc_5_submission_rejection_reason = NULL,
  doc_5_completed_template_url = NULL,
  doc_5_completed_template_uploaded_at = NULL,
  doc_5_completed_template_uploaded_by = NULL,

  doc_6_submission_url = NULL,
  doc_6_submission_uploaded_at = NULL,
  doc_6_submission_verified = false,
  doc_6_submission_verified_by = NULL,
  doc_6_submission_verified_at = NULL,
  doc_6_submission_rejection_reason = NULL,

  updated_at = NOW()
WHERE id IN (
  SELECT ta.id
  FROM tutor_applications ta
  JOIN users u ON u.id = ta.user_id
  WHERE lower(u.email) = lower('spring@gmail.com')
  LIMIT 1
);

COMMIT;
